/* 1 */
.one-oven-background{
    /* height: 580px; */
    height: 100vh;
    position: relative;
    background: url('../img/1-ovenplus-cover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.one-black-opacity{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    opacity: 0.5;
}

.one-new-head-box{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding-left: 50%;
}

.one-main-head{

}

.one-sub-head{
    width: 80%;
    height: auto;
    padding-top: 30px;
}

.one-logo-div{
    height: 160px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background: #e24242;
    opacity: 0.9;
}

.one-text{
    font-size: 28px;
    font-family: DINweb;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0px;
}

.one-text::before{
    content: 'Subscribe';
    font-weight: bold;
}

.one-input-box{
    margin: auto;
    display: flex;
}

.one-input{
    width: 400px;
    opacity: 0.8;
    font-size: 22px;
    padding: 1px 0px 1px 4px;
}

.one-submit{
    width: 70px;
    font-size: 25px;
    background-color: #3c3c3b;
    color: #ffffff;
    border-radius: 4px;
    padding: 2px 28px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
}

.one-logo-div-mobile{
    display: none;
}


/* 2 */

.two-up-div{
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.two-up-left{
    width: 385px;
    height: 414px;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.two-up-left-header{
    font-family: Branding;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.1px;
    color: #e24242;
    margin-bottom: 0px;
}

.two-up-left-line{
    width: 49px;
    height: 6px;
    background-color: #e24242;
    margin-left: -10px;
}

.two-up-left-text{
    font-family: DINweb;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.1px;
    text-align: justify;
    color: #262628;
}

.two-up-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two-up-right-step{
    width: 360px;
    height: 112px;
    background: url(../img/2-step.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.two-up-right-equal{
    width: 10px;
    height: 12px;
    margin: 20px;
    text-align: center;
    line-height: 40px;
    color: #e24242;
    background: url(../img/2-equal.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.two-up-right-main-img{
    position: relative;
    width: 280px;
    height: 160px;
    padding: 2.5%;
    background: url(../img/2-oven-open.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    margin-right: 112px;
}

.two-up-right-box{
    position: absolute;
    right: -114px;
    top: 40px;
    width: 130px;
    text-align: center;
}

.two-down-red-mobile{
    display: none;
}

.two-up-right-price-up{
    position: relative;
    font-size: 36px;
    color: #e24242;
    font-weight: bold;
    text-align: center;
}

.two-up-right-price-up::before{
    content: '';
    display: block;
    width: 120px;
    height: 3px;
    background: #e24242;
    position: absolute;
    top: 18px;
    left: 6px;
    transform: rotate(-6deg);

}

.two-up-right-price-down{
    font-size: 28px;
    background: #e24242;
    color: #eeeeee;
    font-weight: bold;
}

/* 2.5 */

.two-rotate-div{
    margin: 0 auto;
    max-width: 850px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.two-left-button{
    cursor: pointer;
    padding: 12px;
    background: url(../img/left-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-right: 25px;
}

.two-right-button{
    cursor: pointer;
    padding: 12px;
    background: url(../img/right-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 25px;
}

.two-each-item{

}

.two-rotate-img-1{
    /* width: 213px; */
    height: 200px;
    background: url(../img/2-img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.two-rotate-img-2{
    /* width: 213px; */
    height: 200px;
    background: url(../img/2-img-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.two-rotate-img-3{
    /* width: 213px; */
    height: 200px;
    background: url(../img/2-img-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.two-rotate-img-4{
    /* width: 213px; */
    height: 200px;
    background: url(../img/2-img-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.two-rotate-img-5{
    /* width: 213px; */
    height: 200px;
    background: url(../img/2-img-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.two-rotate-img-6{
    /* width: 213px; */
    height: 200px;
    background: url(../img/2-img-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.two-rotate-img-7{
    /* width: 213px; */
    height: 200px;
    background: url(../img/2-img-7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}


/* 3 */

.three-head-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 5% 0px;
}

.three-head-h{
    width: 36%;
    line-height: 56px;
    font-size: 40px;
    color: #e24242;
    font-weight: bold;
    letter-spacing: 0.1px;
}

.three-head-text{
    width: 33%;
    font-family: DINweb;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    color: #262628;
}

/* 3.1 */

.three-two-img-box{
    position: relative;
    width: 100%;
    height: 100%;
}

.three-two-img-box::before{
    content: '';
    height: 300px;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #e24242;
    z-index: -1;
}

.three-two-img{
    width: 100%;
    max-width: 1200px;
    height: 780px;
    background: url(../img/4-chef.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin: -10px auto auto;
}

/* 4 */

.four-up-background{
    width: 100%;
    height: 700px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.four-up-head{
    width: auto;
    font-family: Branding;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-align: center;
    color: #e24242;
}

.four-up-text{
    width: 612px;
    font-family: DINweb;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ffffff;
    padding: 0px 5%;
}

.four-up-img{
    position: relative;
    width: 67%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.four-up-img-video{
    position: absolute;
    /* width: auto;
    height: 100%; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 4.1 */

.four-one-div{
    position: relative;
    display: flex;
    height: 520px;
    width: 100%;
}

.four-one-left-div{
    position: relative;
    right: 0;
    top: 0;
    z-index: 1;
    width: 540px;
    height: 100%;
    background-color: #e24242;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.four-one-left-img{
    width: 120px;
    height: 120px;
    background: url(../img/4-energy-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    margin-bottom: 40px;
}

.four-one-left-head{
    font-family: DINweb;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ffffff;
    margin: 0px;
}

.four-one-left-text{
    width: 75%;
    padding:0px 12.5%;
    font-family: DINweb;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.1px;
    text-align: justify;
    color: #ffffff;
}


.four-one-video-box{
    width: 75%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.four-one-video{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


/* 4.2 */

.four-two-right-img{
    width: 67%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.four-two-left-div{
    position: relative;
    width: 75%;
    height: 100%;
    overflow: hidden;
}

.four-two-left-video{
    width: 115%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.four-two-left-img{
    width: 120px;
    height: 120px;
    background: url(../img/4-non-smoke-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    margin-bottom: 40px;
}

/* 4.3 */

.four-one-div-box{
    display: flex;
    height: 520px;
    width: 100%;
}


.four-three-left-div-inside{
    z-index: 1;
    width: 540px;
    height: 100%;
    background-color: #e24242;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.four-three-left-img{
    width: 120px;
    height: 120px;
    background: url(../img/4-grill-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    margin-bottom: 40px;
}

.four-three-right-img-div{
    position: relative;
    width: 75%;
    height: 100%;
    overflow: hidden;
}

.twentytwenty-container{
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

/* 4.5 */

.four-five-red-div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #262628;
    width: 100%;
    height: 300px;

}

.four-five-head-text{
    width: 50%;
    font-family: Branding;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ffffff;
}

.four-five-head-text::before{
    content: 'Subscribe';
    font-weight: 700;
}

.four-five-input{
    width: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    color: white;
    padding: 6px;
}

.four-five-submit{
    font-family: DINweb;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ffffff;
    background-color: #e24242;
    padding: 5px 25px;
    border-radius: 6px;
    cursor: pointer;
}

/* 4.6 */

.four-six-background{
    position: relative;
    width: 70%;
    margin: auto;
    padding: 50px 0px;
}

.four-six-background-img{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    background: url(../img/4-6-background-img.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: center;
}

.four-six-img{
    width: 100%;
    height: 120px;
    background: url(../img/4-6-header.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: center;
    background-position-y: center;
    
}

.four-six-head{
    font-family: Branding;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-align: center;
    color: #262628;
    margin: 0px;
}

.four-six-text{
    font-family: DINweb;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0.1px;
    text-align: center;
    color: #262628;
    margin: 16px 0px 60px;
}

/* 5.1 */

.five-one-video{
    width: 100%;
    height: 700px;
    background-color: white;
}

/* 5.2 */

.five-two-background{
    position: relative;
    width: 100%;
    height: 624px;
    background-color: #262628;
    display: flex;
    justify-content: center;
    align-items: center;
}

.five-two-img-one{

}

.five-two-center-div{
    width: 30%;
}

.five-two-center-head{
    font-family: Branding;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-align: center;
    color: #e24242;
}

.five-two-center-text{
    font-family: DINweb;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.1px;
    text-align: justify;
    color: #ffffff;
}

.five-two-img-two{

}

/* 6.1 */

.six-one-specs{
    height: 87px;
    object-fit: contain;
    font-family: Branding;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-align: center;
    color: #e24242;
}

.six-one-cook-thing{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.six-one-cook-one{
    width: 600px;
    height: 175px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 80px;
}

.six-porduct-outline{

}

/* 6.2 */

.six-two-rotate-div{
    margin: 0 auto;
    max-width: 950px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.six-two-left-button{
    cursor: pointer;
    padding: 12px;
    background: url(../img/left-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-right: 25px;
}

.six-two-each-item{

}

.six-two-right-button{
    cursor: pointer;
    padding: 12px;
    background: url(../img/right-button.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 25px;
}

.six-two-rotate-img-holes{
    /* height: 152px; */
    background: url(../img/6-holes.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
}

.six-two-rotate-img-button{
    /* height: 152px; */
    background: url(../img/6-button.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.six-two-rotate-img-desk{
    /* height: 152px; */
    background: url(../img/6-desk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.six-two-rotate-img-side{
    /* height: 152px; */
    background: url(../img/6-side.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.six-two-rotate-img-owl{

}

.six-two-rotate-img{
    height: 200px;
}

.six-two-mobile-background{
    display: none;
}

/* 6.3 */

.six-three-gray{
    height: 258px;
    width: 70%;
    margin: auto;
    background-color: #eeeeee;

}

/* 6.3.5 */

.six-three-five-black{
    width: 100%;
    height: 90px;
    background: url(../img/4-background-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
}

/* 6.4 */

.six-four-background{
    background-color: black;
    padding: 35px 0px;
}

.six-four-black-brush{

}

.six-four-three-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.six-four-left-icon{
    color: white;
    width: 32px;
    height: 50px;
    background: url(../img/8-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}



.six-four-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.six-four-center-text{
    color: #ffffff;
}

.six-four-center-text::before{
    content: "Subscribe";
    font-weight: 600;
}

.six-four-center-mail{
    display: flex;
}

.six-four-center-input{
    border: solid 1px #ffffff;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    padding-left: 8px;
    width: 250px;
    margin-right: 10px;
}

.six-four-center-submit{
    font-family: DINweb;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ffffff;
    background-color: #e24242;
    padding: 5px 14px;
    cursor: pointer;
}


.six-four-right{

}

.six-four-right-connect-text{
    color: #ffffff;
}

.six-four-right-social{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.six-four-right-youtube{
    width: 26px;
    height: 19px;
    background: url(../img/6-youtube.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
}

.six-four-right-fb{
    width: 14px;
    height: 26px;
    background: url(../img/6-fb.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
}

.six-four-right-fb:hover{
    background: url(../img/6-fb-red.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.fix-four-background-mobile{
    display: none;
}

/* 7 翻書 */

.seven-flip-book-background{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    opacity: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
}

.seven-flip-book-inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 95%;
}

/* 7 up */

.seven-flip-book-up{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
	width: 620px;
    height: 350px;
    /* width: 72%;
    height: 70%; */
}

.seven-flip-book-left-button{
    width: 34px;
    height: 47px;
    background: url(../img/7-white-left-arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
}

.seven-flip-book-main-flip{
	width: 520px;
    height: 350px;
    margin: auto;
}

.flip-book-img{
    width: 300px;
    height: 450px;
}

.seven-flip-book-right-button{
    width: 34px;
    height: 47px;
    background: url(../img/7-white-right-arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    cursor: pointer;
}

/* 7 center */

.seven-flip-book-center{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seven-flip-book-progress-count{
    width: 8%;
    font-family: DINweb;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    letter-spacing: 2.7px;
    text-align: center;
    color: #ffffff;
}

.seven-flip-book-progress-bar{
    position: relative;
    width: 50%;
    height: 10px;
    border-radius: 14px;
    border: solid 1px #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
}

.seven-flip-book-progress-bar-inside{
    position: relative;
    width: 4.55%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
}

.seven-flip-book-progress-bar-inside::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    right: -8px;
    top: -3.5px;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 99px;
}

.seven-flip-book-download-button{
    padding-left: 12px;
    width: 10%;
    cursor: pointer;
}

/* 7 down */

.seven-flip-book-down{
    display: block;
    margin: auto;
    width: 10%;
    height: 10%;
    text-align: center;
    cursor: pointer;
}

/* 8 pop up */

.eight-popup-background{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;    
    z-index: 1;
}

.eight-popup-left-div{
    display: flex;
    width: 70%;
    height: 100%;  
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #fffdf3;
}

.eight-popup-left-img{
    height: 100%;
    width: 44%;
    background: url(../img/8-pizza-left.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.eight-popup-right{
    width: 56%;
    height: 100%;
}

.eight-pop-right-close{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.eight-pop-close-button{
    font-size: 26px;
    color: #393938;
    cursor: pointer;
    padding: 0px 36px 0px 25px;
}

.eight-pop-sub{
    opacity: 0.3;
    font-family: DINweb;
    font-size: 22.2px;
    font-weight: 500;
    color: #262628;
}

.eight-pop-right-box{
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 18%;
}

.eight-pop-right-icon{
    width: 25px;
    height: 47px;
    background: url(../img/8-icon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

.eight-pop-right-head{
    height: 24px;
    width: 200px;
    background: url(../img/8-head.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    margin: 24px 0px 20px 0px;
}

.eight-pop-right-text{
    color: #262628;
    text-align: center;
}

.eight-pop-right-text::before{
    content: "Subscribe";
    font-weight: 600;
}

.eight-pop-right-input{
    border: solid 1px #393938;
    width: 200px;    
    padding: 6px;
    background-color: #fffdf3;
    margin-top: 10px;
}

.eight-pop-right-button{
    text-align: center;
    margin-top: 15px;
    padding: 4px 24px;
    background-color: #e24242;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
