@media( max-width: 1280px ){
    .four-one-video{
        width: 130%;
    }

    .four-two-left-video{
        width: 160%;
    }

    .twentytwenty-container{
        width: 140%;
    }
}

/* @media( max-width: 1023px ){ */
@media( max-width: 1023px ){
    /* 1 */

    .one-black-opacity{
        background: transparent;
    }
    .one-logo-div{
        display: none;
    }

    .one-oven-background{
        height: 260px;
    }

    .one-new-head-box{
        display: none;
    }

    .one-red-div-mobile{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e24242;
    }

    .one-logo-div-mobile{
        display: flex;
        flex-direction: column;
    }

    .one-back-mobile{
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: url('../img/1-background-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }
    
    .one-back-head-mobile{
        width: 80%;
    }

    .one-back-text-mobile{
        font-family: Branding;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: 0.05px;
        text-align: center;
        color: #262628;
    }

    .one-text-mobile{
        font-size: 24px;
        font-weight: bold;
        font-family: Branding;
        color: black;
        width: 400px;
        text-align: center;
    }

    .one-text-white-mobile{
        font-size: 24px;
        font-family: Branding;
        color: white;
        text-align: center;
        padding: 0px 5%;
        margin-bottom: 8px;
    }

    .one-text-white-mobile::before{
        content: 'Subscribe';
        font-weight: bold;
    }

    .one-input-mobile{
        width: 90%;
        color: white;
        font-family: DIN;
        font-size: 18px;
        font-weight: normal;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #ffffff;
        background-color: rgba(255, 255, 255, 0.3);
        color: white;
        padding: 6px;
    }

    .one-input-mobile::placeholder{
        color: #ffffff;
    }

    .one-submit-mobile{
        width: 120px;
        height: 34px;
        line-height: 34px;
        font-size: 24px;
        font-weight: bold;
        background-color: #3c3c3b;
        color: white;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        margin: 17px 0px;
    }

    /* 2 */

    .two-up-div{
        padding: 0px 5% 8%;
        flex-direction: column;
    }

    .two-up-left-header{
        font-size: 30px;
    }

    .two-up-left-text{
        font-size: 16px;
    }

    .two-up-left-line{
        display: none;
    }

    .two-up-right-main-img{
        margin: 0;
    }

    .two-up-right-box{
        display: none;
    }

    .two-up-right-step{

    }

    .two-down-red-mobile{
        display: block;
    }

    .two-up-right-price-down{
        width: 220px;
        text-align: center;
        padding: 0px;
    }

    .two-up-right-price-up::before{
        width: 108px;
        top: 42%;
        left: 26%;
    }

    .two-rotate-div{
        position: relative;
        width: 90%;
    }

    .two-left-button{
        z-index: 2;
        position: absolute;
        left: -18px;
        margin-right: 0px;
    }

    .two-right-button{
        z-index: 2;
        position: absolute;
        right: -18px;
        margin-right: 0px;
    }

    
    
    /* 3 */

    .three-head-div{
        flex-direction: column;
    }

    .three-head-h{
        width: 100%;
        line-height: 38px;
        font-size: 30px;
    }

    .three-head-text{
        width: 100%;
        font-size: 16px;
    }

    /* 3.2 */

    .three-two-img{
        height: 352px;
    }

    .three-two-img-box{
        margin-top: 20px;
    }

    .three-two-img-box::before{
        height: 130px;
    }

/* 4 */

    .four-up-background{
        height: 600px;
    }

    .four-up-head{
        font-size: 30px;
        margin: 100px 0px 20px;
    }

    .four-up-text{
        width: auto;
        height: 75px;
        font-size: 16px;
    }

    .four-up-img{
        width: 100%;
        height: 100%;
    }

    .four-one-div{
        margin-top: 10px;
        flex-direction: column;
        height: auto;
    }
    /* 第一張火爐影片 */
    .four-one-video-box{
        width: 100%;
        height: 280px;
    }

    .four-one-left-head{
        font-size: 22px;
    }

    .four-one-left-div{
        height: 400px;
        width: 100%;
    }

    .four-one-left-img{
        margin: 20px 0px 12px;
    }



    .four-one-left-div-mobile{
        flex-direction: column-reverse;
        height: 100%;
    }

    .four-two-left-img{
        margin: 20px 0px 12px;
    }
    /* 第二章考雞影片 */
    .four-two-left-div{
        position: inherit;
        width: 100%;
        height: 280px;
        margin-bottom: -5px;
    }

    .four-two-left-video{
        position: inherit;
        width: auto;
        width: 155%;
        height: 165%;
    }

    /* 4.3 */
    
    .four-one-div-box{
        display: inline-block;
    }

    .four-three-left-div-inside{
        height: 400px;
        width: 100%;
    }  

    /* 4.3 */

    .four-three-left-div{
        width: 100%;
    }

    .four-three-left-img{
        margin: 20px 0px 12px;
    }

    .four-one-left-text{
        padding: 0px 3.5%;
        font-size: 16px;
    }

    .four-three-div-mobile{
        margin-top: 14px;
        height: 100%;
    }
    /* 第三張 mobile 拉霸圖片 */
    .four-three-right-img-div-mobile{
        position: relative;
        width: 100%;
        height: 400px;
        -webkit-transform: translateX(0%) translateY(0%);
        transform: translateX(0%) translateY(0%); 
        overflow: hidden;
    }

    .twentytwenty-container{
        position: absolute;

    }

    .four-three-right-img-div{
        display: none;
    }

    /* 4.5 */

    .four-five-input{
        width: 90%;
    }

    .four-five-head-text{
        width: 90%;
        font-size: 22px;
        margin: 0px 0px 34px;
    }

    .four-five-submit{
        width: 120px;
        height: 34px;
        line-height: 34px;
        font-size: 22px;
        font-weight: bold;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        margin: 17px 0px;
    }

    /* 4.6 */

    .four-six-background{
        width: 90%;
    }

    .four-six-background-img{
        display: none;
    }

    .four-six-img{
        background-size: contain;
    }

    .four-six-head{
        font-size: 30px;
    }

    .four-six-text{
        font-size: 22px;
        margin: 16px 0px 0px;
    }

    .four-six-img-mobile{
        display: block;
        width: 100%;
        height: 176px;
        background: url(../img/4-6-background-img-mobile.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position-x: center;
        background-position-y: center;
        padding: 16px 0px;
    }


    /* 5.1 */

    .five-one-video{
        height: 230px;
    }

    /* 5.2 */

    .five-two-center-div{
        width: 70%;
    }

    /* 6.1 */

    .six-one-cook-thing{
        height: auto;
    }

    .six-one-cook-one{
        width: 85%;
        height: 500px;
        flex-direction: column;
    }

    .six-porduct-outline-2{
        padding-left: 15px;
    }

    .six-one-specs{
        font-size: 30px;
        height: 56px;
    }

    /* 6.2 */

    .six-two-rotate-div{
        display: none;
    }

    .six-two-mobile-background{
        display: block;
    }

    .six-two-mobile-up-box{
        display: flex;
        height: 150px;
        width: 100%;
        margin-bottom: 5px;
    }

    .six-two-mobile-up-img-1{
        width: 59%;
        margin-top: 1%;
        background: url(../img/6-holes.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }

    .six-two-mobile-up-img-2{
        width: 40%;
        background: url(../img/6-button.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
    }

    .six-two-mobile-down-img{
        width: 100%;
        background: url(../img/6-desk.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
    }

    /* 6.4 */

    .six-four-background{
        display: none;
    }

    .fix-four-background-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
    }

    .fix-four-head-mobile{
        font-size: 22px;
        margin-top: 0px;
        color: white;
        text-align: center;
        padding: 2%;
    }

    .fix-four-head-mobile::before{
        content: 'Subscribe';
        font-weight: bold;
    }

    .six-four-center-input-mobile{
        width: 90%;
        padding: 6px;
        color: #ffffff;
        font-size: 22px;
        background-color: rgba(255, 255, 255, 0.3);
        margin-bottom: 18px;
    }

    .six-four-center-input-mobile::placeholder{
        color: #ffffff;
    }

    .six-four-center-submit-mobile{
        color: white;
        font-family: DIN;
        letter-spacing: 0.1px;
        color: #ffffff;
        background-color: #e24242;
        width: 120px;
        height: 34px;
        line-height: 34px;
        font-size: 22px;
        font-weight: bold;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        margin: 17px 0px;
    }

    .six-four-connect-box{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        padding-top: 10px;
    }

    .six-four-right-connect-text-mobile{
        font-size: 24px;
        font-weight: bold;
        color: white;
    }

    .six-four-social-mobile{
        width: 100px;
        display: flex;
        justify-content: space-around;
    }

    .six-four-right-youtube-mobile{
        width: 26px;
        height: 19px;
        background: url(../img/6-youtube.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        cursor: pointer;
    }

    .six-four-right-fb-mobile{
        width: 14px;
        height: 26px;
        background: url(../img/6-fb.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        cursor: pointer;
    }

    .six-four-left-icon-mobile{
        color: white;
        width: 25px;
        height: 47px;
        background: url(../img/8-icon.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        margin: 50px 0px 40px 0px;
    }


    /* 7 */











    /* 8 */

    .eight-popup-left-img{
        display: none;
    }

    .eight-popup-right{
        width: 100%;
    }

}
/* 1040 交界 */




@media ( max-width: 1000px ){
    .four-one-left-div{
        flex-direction: column;
    }
}




@media ( max-width: 810px ){
    .eight-popup-left-div{
        align-items: center;
    }

    .eight-popup-left-img{
        height: 50%;
        width: 22%;
    }
}



@media ( max-width: 700px ){

    /* 7 翻書 */

    .two-up-right-step{
        height: 80px;
    }


    .four-two-left-video{
        height: 100%;
    }

    .seven-flip-book-background{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 3;
        opacity: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        margin: auto;
    }

    .seven-flip-book-inside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 95%;
    }

    /* 7 up */
    .seven-flip-book-up{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        /* width: 620px; */
        width: 90%;
        height: 250px;
    }

    .seven-flip-book-left-button{
        width: 34px;
        height: 47px;
        background: url(../img/7-white-left-arrow.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        cursor: pointer;
    }

    .seven-flip-book-main-flip{
        width: 160px;
        height: 250px;
        /* width: 520px;
        height: 350px; */
        margin: auto;
    }

    .flip-book-img{
        width: 160px;
        height: 250px;
        /* width: 300px;
        height: 450px; */
    }

    .seven-flip-book-right-button{
        width: 34px;
        height: 47px;
        background: url(../img/7-white-right-arrow.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        cursor: pointer;
    }

    /* 7 center */

    .seven-flip-book-center{
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .seven-flip-book-progress-count{
        width: 30%;
        font-family: DIN;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.11;
        letter-spacing: 2.7px;
        text-align: center;
        color: #ffffff;
    }

    .seven-flip-book-progress-bar{
        position: relative;
        width: 50%;
        height: 10px;
        border-radius: 14px;
        border: solid 1px #ffffff;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .seven-flip-book-progress-bar-inside{
        position: relative;
        width: 4.55%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: white;
    }

    .seven-flip-book-progress-bar-inside::after{
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        right: -8px;
        top: -3.5px;
        background-color: white;
        border: 1px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        border-radius: 99px;
    }

    .seven-flip-book-download-button{
        padding-left: 12px;
        width: 25%;
        cursor: pointer;
    }

    /* 7 down */

    .seven-flip-book-down{
        display: block;
        margin: auto;
        width: 20%;
        height: 10%;
        text-align: center;
        cursor: pointer;
        padding-bottom: 30px;
    }
}



@media ( max-width: 500px ){

    /* 1 */
    .one-text-mobile{
        width: 320px;
    }

    /* 2 */
    .two-up-left{
        width: auto;
        height: 380px;
        padding: 0px;
    }

    .two-up-right-main-img{
        width: 280px;
        height: 160px;
    }

    .two-up-right-step{
        width: 90%;
        background-size: contain;
    }


}