
@media ( min-width: 1520px ){
    .four-one-left-div-1520{
        width: 50%;
    }
}

@media( max-width: 1050px ){
    /* 1 */
    .one-logo-div{
        display: none;
    }

    .one-oven-background{
        height: 320px;
    }

    .one-new-head-box{
        display: none;
    }

    .one-red-div-mobile{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #e24242;
    }

    .one-logo-div-mobile{
        display: flex;
        flex-direction: column;
    }

    .one-text-mobile{
        font-size: 24px;
        font-weight: bold;
        font-family: Branding;
        color: black;
        width: 400px;
        text-align: center;
    }

    .one-text-white-mobile{
        font-size: 24px;
        font-weight: bold;
        font-family: Branding;
        color: white;
        text-align: center;
        padding: 0px 10px;
        margin-bottom: 8px;
    }

    .one-input-mobile{
        width: 90%;
        color: white;
        font-family: DINweb;
        font-size: 18px;
        font-weight: normal;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        border: solid 1px #ffffff;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 8px;
    }

    .one-submit-mobile{
        width: 70px;
        font-size: 24px;
        font-weight: bold;
        background-color: #3c3c3b;
        color: white;
        border-radius: 4px;
        margin-top: 10px;
        padding: 2px 28px;
        text-align: center;
        cursor: pointer;
        margin: 17px 0px;
    }

    /* 2 */

    .two-up-div{
        flex-direction: column;
    }

    .two-rotate-div{
        position: relative;
    }

    .two-left-button{
        z-index: 2;
        position: absolute;
        left: -4px;
        margin-right: 0px;
    }

    .two-right-button{
        display: none;
    }
    
    /* 3 */

    .three-head-div{
    }

/* 4 */

    .four-up-text{
        width: auto;
    }

    .four-up-img{
        width: 300px;
        height: 230px;
    }

    .four-one-div{
        flex-direction: column;
    }

    .four-one-left-div{
        width: 100%;
    }

    .four-one-left-img{
        margin-top: 20px;
    }

    .four-one-right-img{
        width: 100%;
    }

    .four-one-left-div-mobile{
        flex-direction: column-reverse;
        height: 100%;
    }

    .four-two-left-img{
        margin-top: 20px;
    }

    .four-two-left-div{
        position: inherit;
        width: 100%;
        height: 100%;
        margin-bottom: -5px;
    }

    .four-two-left-video{
        position: inherit;
        width: auto;
        width: 100%;
        height: 100%;
    }

    /* 4.3 */
    
    .four-one-div-box{
        display: inline-block;
    }

    .four-three-left-div-inside{
        width: 100%;
    }  

    /* 4.3 */

    .four-three-left-div{
        width: 100%;
    }

    .four-three-left-img{
        margin-top: 20px;
    }

    .four-one-left-text{
        padding: 0px 3.5%;
    }

    .four-three-div-mobile{
        height: 100%;
    }

    .four-three-right-img-div-mobile{
        width: 100%;
        height: 100%;
    }

    .four-three-right-img-div{
        display: none;
    }

    /* 4.5 */

    .four-five-input{
        width: 90%;
    }

    /* 5.2 */

    .five-two-center-div{
        width: 70%;
    }

    /* 6.1 */

    .six-one-cook-thing{
        height: 500px;
    }

    .six-one-cook-one{
        height: 500px;
        flex-direction: column;
    }

    .six-porduct-outline-2{
        padding-left: 15px;
    }

    /* 6.2 */

    .six-two-rotate-div{
        display: none;
    }

    .six-two-mobile-background{

    }

    .six-two-mobile-up-box{
        display: flex;
        height: 150px;
        width: 100%;
    }

    .six-two-mobile-up-img-1{
        width: 60%;
        background: url(../img/6-holes.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
    }

    .six-two-mobile-up-img-2{
        width: 40%;
        background: url(../img/6-button.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
    }

    .six-two-mobile-down-img{
        width: 100%;
        background: url(../img/6-desk.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: top;
    }

    /* 6.4 */

    .six-four-background{
        display: none;
    }

    .fix-four-background-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
    }

    .fix-four-head-mobile{
        font-size: 26px;
        margin-top: 0px;
        color: white;
    }

    .fix-four-head-mobile::before{
        content: 'Subscribe';
        font-weight: 600;
    }

    .six-four-center-input-mobile{
        width: 300px;
        padding: 6px;
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
    }

    .six-four-center-submit-mobile{
        color: white;
        font-family: DINweb;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.1px;
        text-align: center;
        color: #ffffff;
        background-color: #e24242;
        padding: 5px 14px;
        cursor: pointer;
        margin-top: 25px;
    }

    .six-four-right-connect-text-mobile{
        font-size: 26px;
        color: white;
    }

    .six-four-social-mobile{
        width: 100px;
        display: flex;
        justify-content: space-around;
    }

    .six-four-right-youtube-mobile{
        width: 26px;
        height: 19px;
        background: url(../img/6-youtube.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        cursor: pointer;
    }

    .six-four-right-fb-mobile{
        width: 14px;
        height: 26px;
        background: url(../img/6-fb.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        cursor: pointer;
    }

    .six-four-left-icon-mobile{
        color: white;
        width: 25px;
        height: 47px;
        background: url(../img/8-icon.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        margin: 50px 0px 40px 0px;
    }


    /* 7 */











    /* 8 */

    .eight-popup-left-img{
        display: none;
    }

    .eight-popup-right{
        width: 100%;
    }

}
/* 1040 交界 */




@media ( max-width: 1000px ){
    .four-one-left-div{
        flex-direction: column;
    }
}




@media ( max-width: 810px ){
    .eight-popup-left-div{
        align-items: center;
    }

    .eight-popup-left-img{
        height: 50%;
        width: 22%;
    }
}



@media ( max-width: 700px ){

    /* 7 翻書 */

    .seven-flip-book-background{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 3;
        opacity: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        margin: auto;
    }

    .seven-flip-book-inside{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 95%;
    }

    /* 7 up */
    .seven-flip-book-up{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        /* width: 620px; */
        width: 90%;
        height: 250px;
    }

    .seven-flip-book-left-button{
        width: 34px;
        height: 47px;
        background: url(../img/7-white-left-arrow.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        cursor: pointer;
    }

    .seven-flip-book-main-flip{
        width: 160px;
        height: 250px;
        /* width: 520px;
        height: 350px; */
        margin: auto;
    }

    .flip-book-img{
        width: 160px;
        height: 250px;
        /* width: 300px;
        height: 450px; */
    }

    .seven-flip-book-right-button{
        width: 34px;
        height: 47px;
        background: url(../img/7-white-right-arrow.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        cursor: pointer;
    }

    /* 7 center */

    .seven-flip-book-center{
        width: 100%;
        height: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .seven-flip-book-progress-count{
        width: 30%;
        font-family: DINweb;
        font-size: 18px;
        font-weight: bold;
        line-height: 1.11;
        letter-spacing: 2.7px;
        text-align: center;
        color: #ffffff;
    }

    .seven-flip-book-progress-bar{
        position: relative;
        width: 50%;
        height: 10px;
        border-radius: 14px;
        border: solid 1px #ffffff;
        background-color: rgba(255, 255, 255, 0.5);
    }

    .seven-flip-book-progress-bar-inside{
        position: relative;
        width: 4.55%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: white;
    }

    .seven-flip-book-progress-bar-inside::after{
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        right: -8px;
        top: -3.5px;
        background-color: white;
        border: 1px solid white;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        border-radius: 99px;
    }

    .seven-flip-book-download-button{
        padding-left: 12px;
        width: 25%;
        cursor: pointer;
    }

    /* 7 down */

    .seven-flip-book-down{
        display: block;
        margin: auto;
        width: 20%;
        height: 10%;
        text-align: center;
        cursor: pointer;
        padding-bottom: 30px;
    }
}



@media ( max-width: 500px ){

    .one-text-mobile{
        width: 320px;
    }

    .two-up-left{
        width: 310px;
        height: 450px;
    }

    .two-up-right-main-img{
        width: 280px;
        height: 160px;
    }


}